/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */


html{
    /* background-color: #efeaf7;
    font-family: sans-serif;
    font-size: 14px;
    margin: 1% 22%; */

}



@media (max-width: 600px){
     html{
        /* background-color: yellow; */
        /* font-size: 12px;
        margin: 1% 4%; */
    }

}


.invalid-input{
    border-color: red;
}

.table-header{
    display:flex;
    align-items: center;
}

.table-title{
    flex-grow: 1;
}

.align-end{
    align-items: flex-end;
}

.justify-content-end{
    display: flex;
    justify-content: flex-end;
}
